.center {
    text-align: center;
    position: relative;

    &.focus {
        position: static;
    }
}

.title {
    margin-bottom: 15px;
}

.input {
    border-radius: 10px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--secondary-color);
    font-size: 20px;
    text-align: center;

    &::placeholder {
        color: var(--placeholder-color);
    }
}

.centerWrapper {
    position: relative;
    margin-bottom: 20px;

    &:before {
        content: '';
        background: transparent;
        width: 100%;
        height: 100%;
    }
}

.realInput {
    border-radius: 10px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--secondary-color);
    padding: 0 15px;
    font-size: 20px;
    position: fixed;
    text-align: center;
    opacity: 0;
    visibility: hidden;

    &::placeholder {
        color: var(--placeholder-color);
    }
}

.inputWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.75s ease-in;

    &.focus {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        visibility: visible;
    }
}

.searchResults {
    position: fixed;
    bottom: 20px;
    height: calc(60% - 90px);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    transition: all .75s ease;
    overflow: hidden;
    opacity: 1;
    visibility: visible;

    &.hide {
        transform: translateX(-150%);
        opacity: 0;
        visibility: hidden;
    }
}

.result {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all .3s ease;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}