.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 0.75rem;
  color: var(--secondary-color);
}

.tag {
  & a {
    padding: 5px 0.75rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    display: block;
  }
}
