.table {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: var(--secondary-color);
    
    & tbody {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & tr:first-child {
            padding-bottom: 10px;
        }

        & tr {
            display: flex;
            position: relative;

            & > * {
                padding: 0 10px;
            }

            & > *:not(.name) {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            & > *:first-child {
                flex: 0 0 5%;
            }

            & > *:nth-child(2) {
                flex: 0 0 35%;
            }

            & > *:nth-child(3) {
                flex: 0 0 35%;
            }

            & > *:nth-child(4) {
                flex: 0 0 25%;
            }

            @media (max-width: 768px) {
                & > *:nth-child(2) {
                    flex: 0 0 50%;
                }

                & > *:nth-child(4) {
                    display: none;
                }
            }

            @media (max-width: 600px) {
                & > *:nth-child(2) {
                    flex: 0 0 95%;
                }

                & > td:nth-child(2) {
                    padding-right: 65px;
                }

                & > *:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    &.threeColumns tbody tr {
        & > *:first-child {
            flex: 0 0 5%;
        }

        & > *:nth-child(2) {
            flex: 0 0 55%;
        }

        & > *:nth-child(3) {
            flex: 0 0 40%;
        }
        
        & > *:nth-child(4) {
            display: none;
        }

        @media (max-width: 768px) {
            & > *:nth-child(2) {
                flex: 0 0 95%;
                justify-content: start;
                text-align: left;
            }

            & > td:nth-child(2) {
                padding-right: 65px;
            }

            & > *:nth-child(3) {
                display: none;
            }

            & > *:nth-child(4) {
                position: absolute;
                display: block;
            }
        }
    }
}

.tableHeaders {
    border-bottom: 1px solid var(--secondary-color);
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & a:hover {
        text-decoration: underline;
    }
}

.music {
    background: transparent;
    transition: all .3s ease;
    border-radius: 3px;
    padding: 5px;
    min-height: 50px;
    
    &:hover {
        background: rgb(155 155 155 / 60%);
    }
}

.ellipsis {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    & img {
        width: 30px;
    }

    @media (min-width: 768px) {
        display: none!important;
    }
}

.error {
    color: var(--primary-color);
}