.musician {
    color: #3d3d3d;

    & a {
        color: inherit;
    }
}

.description {
    line-height: 1.75;
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
}

.tableWrapper {
    margin-top: 20px;
}

.similar {
    color: #fff;
}

.title {
    margin-top: 30px;
    font-size: 26px;
}