.card {
    color: inherit;
    display: flex;
    flex-direction: column;

    &:hover {
        text-decoration: none;

        & img {
            transform: scale(1.1);
        }
    }
    
    & img {
        width: 100%;
        transition: all .3s ease;
        object-fit: cover;
        display: block;
    }
}

.imageWrapper {
    overflow: hidden;
    border-radius: 10px;
}

.emptyImage {
    background: #ccc;
    flex: 1 1 auto;
}

.emptyText {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--secondary-color);
}

.album {
    font-size: 20px;
    margin-top: 5px;
}

.artist {
    font-size: 14px;
}