.prevArrow {
    transform: rotate(180deg);
    cursor: pointer;
}

.nextArrow {
    cursor: pointer;
    z-index: 1000;
}

.arrows {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.slide {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.button {
    background: none;
    border: none;
    z-index: 1000;
    position: relative;
    display: flex;
    align-items: center;
}

.swiperWrapper {
    position: relative;
    color: #3d3d3d;
}