.content {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1.25rem;
  text-align: justify;

  & a {
    text-decoration: underline;
  }
}

.wrapper {
  color: var(--primary-color);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.listeners {
  margin-top: 0.75rem;
  color: inherit;
}

.public {
  @media (max-width: 768px) {
    display: none;
  }
}

.error {
  margin-top: 1.25rem;
}
