* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, * {
  scrollbar-width: thin;
}

:root {
  --primary-color: #ededed;
  --secondary-color: #fff;
  --background-purple-color:  #7e07a9;
  --background-dark-blue-color: #3016b0;
}

body {
  position: relative;
  color: var(--secondary-color);

  &:before {
    content: '';
    background: linear-gradient(84deg, var(--background-purple-color) 25%, var(--background-dark-blue-color) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  &.hidden {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.swiper-pagination-bullet {
  background: var(--secondary-color)!important;
}