.container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

.logo {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 38px;

    @media (max-width: 600px) {
        font-size: 46px;
    }
}

.modern {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
    color: #e8d765;
}

.wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 10px;
        width: 100%;

        & > div {
            width: 100%;
        }
    }

    & a:hover {
        text-decoration: none;
    }
}

.navList {
    @media (max-width: 768px) {
        display: none;
    }
}

.list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 15px;

    * a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        font-size: 30px;
        height: 100%;
        justify-content: center;
    }
}

.input {
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 250px;
    outline: none;
    padding-left: 40px;
    padding-right: 15px;
    background-image: url('../../assets/search.svg');
    background-color: rgba(255, 255, 255, 0.1);
    background-position-y: center;
    background-position-x: 0.5rem;
    background-repeat: no-repeat;
    margin-left: 15px;
    color: #fff;

    &::placeholder {
        color: #fff;
    }

    @media (max-width: 600px) {
        width: 100%;
        margin: 0;
    }
}

.burgerMenu {
    @media (min-width: 769px) {
        display: none;
    }
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  z-index: 100;

  @media (max-width: 600px) {
    position: absolute;
    top: 22px;
    right: 25px;
  }
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #fff;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #fff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}

.burger.active::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger.active::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

.navMobile {
    position: fixed;
    top: 0;
    left: -100vw;
    transition: all .3s ease;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: #191919;

    &.active {
        left: 0;
    }
}